* {
  margin: 0;
  padding: 0;
  font-family: "Arial";
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

header {
  background-color: lightslategray;
  padding: 1rem 0;
  border-bottom: 2px solid lightgray;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
}

a h1 {
  color: white;
}

a h1:hover {
  color: lightgray;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.open {
  display: flex !important;
}

/* NAV LINKS */
.nav-links {
  display: none;
  justify-content: center;
  padding: 1rem 0;
  background-color: lightslategray;
  position: fixed;
  top: 60px;
  width: 100%;
  border-bottom: 2px solid lightgray;
}

.nav-links ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

li a {
  color: white;
}

li a:hover {
  color: lightgray;
}

.line {
  width: 30px;
  height: 3px;
  background-color: white;
}

.line:hover {
  background-color: lightgray;
}

nav ul {
  display: flex;
  gap: 1rem; /* 16px */
  align-items: center;
}

.hero {
  height: 300px;
  background-image: url(../public/assets/hero.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: gray;
}

.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero-content h1 {
  text-align: center;
  color: lightgray;
}

.hero-content a {
  background-color: lightslategrey;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.hero-content a:hover {
  background-color: lightgray;
  color: lightslategray;
}

#explore {
  margin: 3rem 0;
}

.title-explore {
  text-align: center;
  margin-bottom: 1rem;
}

.list-restoran {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.restoran {
  background-color: lightslategray;
  color: white;
  border-radius: 1rem;
}

.img-content {
  position: relative;
}

.kota {
  position: absolute;
  left: 0;
  top: 15px;
  background-color: lightslategray;
  padding: 5px;
  font-weight: bold;
  color: white;
}

.img-content img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.info-content {
  padding: 1rem;
  text-align: center;
}

.info-content h2 {
  font-size: 1.2rem;
  margin-bottom: 6px;
}

.info-content h1 {
  font-size: 1.5rem;
  margin-bottom: 6px;
}

@media screen and (max-width: 768px) {
  nav {
    justify-content: start;
    gap: 1rem;
  }

  .hamburger {
    display: flex;
  }

  nav ul {
    display: none;
  }
}

.footer {
  background-color: lightslategray;
  padding: 1rem 0;
  border-top: 2px solid white;
}

.footer p {
  text-align: center;
  font-weight: bold;
  color: white;
}

.footer p:hover {
  color: lightgray;
}